
body {
    background: #FFF;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
   /* font-family: 'Arvo', sans-serif;*/
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: .9px;
    margin:0 ;
	padding: 15px;

}

.container{
	margin: 0;


}


#project-titles {
    position: fixed;
    margin-bottom: 10px;
    height: 100%;
    top: 160px;
}

#page, 
.navbar{
	margin-left: 5px
}

/*

	20

*/
/* --------------------common style -------------------------- */

.justify {
	text-align: justify;
}

.center{
	text-align: center;
}
.space{
	height: 30px;
}

.content-padding  {
/*	padding: 20px;
*/}

.no-list-style{
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	font-size :13px;
	color: #000;
	letter-spacing:0.1em;

}

 a:hover,a:focus {
	font-size :13px;
 	text-decoration: none;
	color: #000;
}

.form-border {
	padding: 10px;
}

.sign-link{
	font-weight: bolder;
	font-size: 20px;
}

hr { background-color: #404040; height: 1px; border: 0; }


.project-img-padding {
	padding: 20px 10px;
}
/* --------------------- Header style ------------------------ */


.name-style{
	padding: 11px 4px;
}
.name-style a{
	font-weight: bolder;
	font-size: 20px;	
	letter-spacing: 0.09em;
	text-decoration: none;
	/*color: #404040;*/
	word-spacing: 2px;
	text-transform: uppercase;
}


.menu-style a{
	text-decoration: none;
	/*font-size :13px;*/
	/*color: #666666;*/
	/*letter-spacing: 0.2em;*/
	padding-right: 2px;
	text-transform: uppercase;
}


.menu-style a:hover,
.menu-style a:focus {
	color: #000;
/*	letter-spacing:0.1em;
*/}


.active a {
	color: #000;
/*	letter-spacing:0.1em;
*/}


.float-right{
	float: right;
}

a .text-color-white{
	color: #FFF;
}

/* --------------------- Project style ------------------------ */

.carousel,
.carousel-cell ,
.project-img {
	width: 100%;
	text-align: center;
	padding: 50px auto 50px auto; 
	min-height: 530px;
	height:  300px;
	
}

.carousel-cell {
  width: 100%;
  height: auto; /* inherit height from carousel */
  margin-right: 10px;
  background: #FFF;
  counter-increment: gallery-cell;
}


.flickity-page-dots{
	bottom: 5px;
}
/*
.flickity-page-dots  .dot{
	background : #FFF;
}
*/

.carousel-cell-image {
	max-width: 100%;
	height: auto;
}


.profile-pic{
	text-align: center;
}

.thumbs {
	width: 100px;
	height: 80px;
	padding: 5px;
}

.thumbs img{
	width: 100%;
	height: 90%;
}
/*

@media screen and (min-width :1300px){

	body {
	 margin: 40px
	}

	.container{
		margin-left: 10px
	}

}*/

.project-img  img {
	width: auto;
	max-width: 100%;
	
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor:e-resize;
}

@media screen and (max-width :768px){
	
	.thumbs {
	width: 70px;
	padding: 5px;
	}

/*	body {
	 margin-left: 10px;
	}
*/
}

.logo img{
	height: 22px;
}

