
body {
    background: #ffffff;
    color: #404040;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    letter-spacing: .9px;
}

/* --------------------common style -------------------------- */

.justify {
	text-align: justify;
}

.center{
	text-align: center;
}
.space{
	height: 30px;
}

.content-padding  {
	padding: 20px;
}

.no-list-style{
	list-style: none;
	padding: 5px;
}

a {
	text-decoration: none;
	font-size :14px;
	color: #666666;
}

 a:hover,a:focus {

 	text-decoration: none;
	color: #000;
}

.form-border {
	padding: 10px;
}

.sign-link{
	font-weight: bolder;
	font-size: 20px;
}
/* --------------------- Header style ------------------------ */


.name-style{
	padding:2% 0;
}
.name-style a{
	font-weight: bolder;
	font-size: 22px;	
	word-spacing: 1px;
	letter-spacing: .9px;
	text-decoration: none;
	color: #404040;
}


.menu-style a{
	text-decoration: none;
	font-size :18px;
	color: #666666;
}

.menu-style a:hover,
.menu-style a:focus {
	color: #000;
	font-size: 20px;
}


.active a {

	color: #000;
	font-size: 20px;
}




/* --------------------- Project style ------------------------ */

.project-img {
	width: 100%;
}

.project-img img {
	width: 80%;
}

